import React from 'react'
import propTypes from 'prop-types'
import styled from 'styled-components'
import getFont from '../../utils/font'
import { black } from '../../utils/pallette'

const {{pascalCase name}} = ({ name }) => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  )
}

{{pascalCase name}}.propTypes = {
  name: propTypes.string
}

export default {{pascalCase name}}
