import React from 'react'
import propTypes from 'prop-types'

const {{pascalCase name}} = ({ name }) => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  )
}

{{pascalCase name}}.propTypes = {
    name: propTypes.string
}

export default {{pascalCase name}}
